.header {
    background-color: #ffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 60px;
    flex-shrink: 0;
    align-content: center;
  
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
  
      .top_logo {
        display: flex;
        width: 16px;
        height: 12px;
      }
  
      .header_nav {
        // Add styles for your navigation
      }
  
      .header_decore {
        width: 766.307px;
        height: 872.584px;
        flex-shrink: 0;
        display: flex;
        margin-right: -120px;
        margin-top: -80px;
      }
    }
  }
  